name: TFSec
permissions: write-all

on:
  pull_request:

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
jobs:
  call-workflow-tfsec:
    uses: clouddrove-sandbox/azure-action-test/.github/workflows/tfsec.yml@master
    with:
      working_directory: './_example'
      repo-token: ${{ secrets.NILESH_GITHUB_TOKEN }}
